# Auto-detect text files
* text=auto

*.bat   text eol=crlf
*.sh    text eol=lf

go.sum  linguist-generated merge=ours
go.mod  linguist-generated

# Configs
.gitattributes  text
.gitconfig      text
.gitignore      text

# Exclude from archive
.gitattributes export-ignore
.gitignore     export-ignore
